<!-- Author: Yin Dong

Date: July 12, 2020

Course module: CPRG 210

Assignment: Assignment #3 -->

<header>
  <div class="hero-section">
    <h2>Bring your mood</h2>
    <h1>Come travel with us...</h1>
    <a href="/register" class="btn-register">Sign Up</a>
    <a href="/#gallery" class="btn-gallery">Gallery</a>
  </div>
</header>