<header>
  <div class="hero-section">
    <h2>Bring your mood</h2>
    <h1>Come travel with us...</h1>
    <a href="register.html" class="btn-register">Sign Up</a>
    <a href="index.html#gallery" class="btn-gallery">Gallery</a>
  </div>
</header>