<!-- Author: Yin Dong

Date: July 12, 2020

Course module: CPRG 210

Assignment: Assignment #2 -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/css-global'); %>
  <title>Travel Agent</title>
</head>

<body>
  <!-- navigation bar section -->
  <!-- navigation bar has two section: logo and menu -->
  <div class="footer-wrapper">
    <nav>
      <div class="nav-bar">
        <div class="logo"><a href="/"><i class="fas fa-road"></i><strong>Travel Expert</strong></a></div>
        <div class="menu">
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/#gallery">Destination</a></li>
            <li><a href="/#contact-us">Contact Us</a></li>
            <li><a href="/login" class="current">Login</a></li>
            <li class="wide"><a href="/register">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Create login form -->
    <main>
      <form action="#" method="post" class="login-form center form">
        <fieldset>
          <h1>Login</h1>
          <div class="wrapper">
            <div>
              <label for="username">Full Name</label>
              <input type="text" name="username" id="username" placeholder="Please enter your email address" required>
            </div>
            <div>
              <label for="password">Password</label>
              <input type="password" name="password" id="password" placeholder="Please create a password" minlength="8"
                required>
            </div>
          </div>
          <button class="btn" type="submit">Sign In</button>
          <h3>Don't have an account? <a href="register">Sign up</a> here!</h3>
        </fieldset>
      </form>
    </main>

    <%- include('./partials/footer'); %>
    <%- include('./partials/logo-icon'); %>

  </div>
</body>

</html>